.herowrapper {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.bg {
  position: relative;
  background-image: url('/public/start.png');
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
}

.imagewrapper {
  z-index: -1;
}

.herocontent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-family: 'Ewert';
  font-size: 200px;
}

.button {
  background-color: #868886;
  border: none;
  color: white;
  padding: 1vh 10vw;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: 'VT323';
  font-size: 30px;
}